
body {
    font-family: 'Ubuntu', serif;
    font-style: normal;
    font-weight: 400;
    background: #011A25;
    color: white;
}

.title_line {
    background: linear-gradient(89.96deg, #57BEEA 0.03%, #9E98D7 94.37%);
    height: 8px;
}

.tl-sm{
    height: 3px !important;
}

.page_content .row {
    margin-left: 0 !important;
}


.page_content {
    top: 8.5%;


}

.full_height {
    height: 91.5vh !important;
    /*border-left: 3px solid #0E212A;*/
    /*border-right: 3px solid #0E212A;*/

    overflow-x: auto;

}
.full_height::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.page_left_side {
    -ms-flex: 0 0 22%;
    flex: 0 0 22%;
    max-width: 22%;
    border-right: 3px solid #0E212A;

}

.page_right_side {
    border-left: 3px solid #0E212A;
    -ms-flex: 0 0 22%;
    flex: 0 0 22%;
    max-width: 22%;
}

.story_button {
    background: #73AFE2;
    color: white;
    border-color: transparent;
    font-size: 16px;
    line-height: 15px;
    padding: 10px 20px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    transition: 0.2s;
}

.story_button:focus {
    outline: transparent !important;
}

.story_button:hover {
    background: #5783ab;
    text-decoration: none;
    color: inherit;

}

.story_button.last {
    border-left: 4px solid #071217;
    border-radius: 0 30px 30px 0;

}


.green {
    background: #44D744 !important;

}

.cancel_color {
    background: #E95872 !important;
}

.edit_color {
    background: #9F98D6 !important;
}

.back {
    background: #07212D !important;
    /*background: #73AFE2 !important;*/

}

.radius_full {
    border-radius: 100%;
}

.chr_left_title p .un {
    font-weight: 700;
    font-size: 18px;
}

.chr_left_title p .text-muted {
    font-size: 18px;
}

.page_left_side .chr_img {
    /*height: 100%;*/
    width: 100%;
    object-fit: contain
}

.chr_team_member{
    background: #071217;
    border-radius: 38px;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}


.el-list{
    background: linear-gradient(180deg, #58BBE9 0%, #CD6396 100%);
    border-radius: 12px;
    padding-right: 2.3rem !important;
}

.el-list-div{
    background: #071217;
    border-radius: 38px;
}
.chr_detail_mb{
    display: none ;
}
@media screen and (max-width: 1660px) {
    .el-list-div .col-10{
        padding-left: 1.3rem !important;
    }

    .right_title{
        font-weight: 400;
        font-size: 17px !important  ;
        line-height: 20px;
    }
    .el-list{
        margin-right: 0.3rem !important;
    }
}
@media screen and (max-width: 1550px) {
    .page_left_side{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}
@media screen and (max-width: 1450px) {
    .el-list{
        padding-left: 1rem !important;
        padding-right: 1.8rem !important;
    }
    .el-list-div .col-10{
        padding-left: 1.8rem !important;
    }
}

@media screen and (max-width: 1450px) {
    .page_left_side{
        display: none;
    }

    .page_right_side{
        display: none;
    }
    .full_height{
        padding-left: 20% !important;
        padding-right: 20% !important;
    }
    .chr_detail_mb{
        display: flex;
    }

}

.chr_img_mb {
    /*height: 100%;*/
    width: 100%;
    object-fit: contain;
    max-height:80% !important;
}

.team_mb{
    background: #092938;
    border-radius: 11px;
}

.team_mb_div{
    background: #071217;
    border-radius: 15px;
}

@media screen and (max-width: 1280px) {

    .full_height{
        padding-left: 15% !important;
        padding-right: 15% !important;
    }
}
@media screen and (max-width: 1080px) {

    .full_height{
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
}
.team_mb_xs{
    display: none;
}
@media screen and (max-width: 850px) {

    .chr_mb_title{
        font-size: 20px !important;
    }
    .chr_mb_un{
        font-size: 12px !important;

    }
    .chr_mb_un .un{
        font-size: 12px !important;

    }
    .full_height .col-8{
        -ms-flex: 0 0 55%;
        flex: 0 0 55%;
        max-width: 55%;
    }
    .chr_img_mb {
        max-height:80% !important;
        /*width: 85% !important;*/

    }
    .team_mb .row{
        padding-right: 1rem!important;
    }
}

@media screen and (max-width: 560px) {
    .team_mb_xs{
        display: block;
    }
    .team_mb{
        display: none;
    }
    .full_height .col-8{
        padding:0 !important;
    }
    .team_mb_xs ul{
        margin: 0!important;
        margin-left: 0.9rem!important;
        padding: 0!important;
    }
}

.stories_list{
    justify-content: left !important;
}