.filter_bar{
    background: #023A53;
    padding: 10px 20px;
    border-radius: 30px;


}
.listing_div{
    padding-top: 100px;
}

.show_dropdown{
    background: #071217;
    /*float: right !important;*/
    /*right: 0 !important;*/
    /*left:20px !important;*/
    /*text-align: right !important;*/

    /*width: 100%;*/
}
.show_dropdown a{
    color:white;
}
.d-active{
    color: #16181b !important;
    text-decoration: none;
    background-color: #f8f9fa;
}

@media screen and (max-width: 994px) {
    .db-lg {
        display: none;

    }
    .db-mb{
        display: inline;

    }

    .filter_bar{
        justify-content: center;
    }

}

.story_div{
    border-radius: 31px !important;
    background: #071217;
    color: white;
    cursor: pointer;
}
.char_div{
    border-radius: 31px !important;
    background: #071217;
    color: white;
    cursor: pointer;
}

.story_div .banner{
    border-radius: 31px !important;
}
.story_wrapper{
    position: relative;
}
.story_tag{
    position: absolute;
    z-index: 1;
    background: linear-gradient(90deg, #A595D5 0%, #47C7EF 90.48%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    border-radius: 16px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    top: -5px;
    right: 5px;
}

.char_div .character_p{
    border-radius: 180px !important;
    width: 40%;
     margin: auto;
    left: 0;
    right: 0;
}
.char_div .slogan{
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    /*margin-top: 0;*/
}
.char_div .detail{
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;

    color: rgba(255, 250, 250, 0.62);
}

.character_wrapper{
    position: relative;
}
.character_bottom{
    position: absolute;
    z-index: 1;
    background: #0E191E;
    border-radius: 0px 0px 31px 31px;
    bottom: 17px;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    color: #FFF7F7;

}
.character_bottom span{
    font-style: italic;

    font-weight: 400;
    font-size: 14px;
    line-height: 15px;

    color: #FFFFFF;
}
.universe_div{
    border-radius: 0;
    background: #071217;
    color: white;
    border: transparent;
    outline: transparent;
    /*padding-left: 0px;*/
}

.u_image{
    height: 100%;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0%, 78% 100%, 0% 100%);
}
.u-title{
    font-weight: 400;
    font-size: 40px;
    line-height: 63px;

    color: #FFFFFF;
}
.u-detail{
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .u_image{
        clip-path: none;
        /*width: 100%;*/
    }

}

.story_modal{
    background: transparent;
    color:white;
    padding: 0 !important;
}

.story_modal_card{
    background: #071217;
    color: white;
    border-radius: 31px;
}
/*.story_modal_body .sm_img_div {*/
/*    !*padding: 1.5rem 1.5rem 1.5rem 1.5rem;*!*/

/*}*/

.story_modal_body{
    height: 100%;
}

.story_modal_card .sm_img{
    border-radius: 31px;

}
.story_modal_card .sm_img_div p {
    margin-top: 1.5rem;
}
.story_modal_body h5{
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
}
.story_modal_body .reactions{
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

}
.story_modal_body .s_detail{
    font-weight: 400 !important;
    font-size: 15px !important;
    line-height: 23px;

    color: rgba(255, 250, 250, 0.62);

}
.story_modal_body .sky_button{
    width: 90%;
    border-radius: 28px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    /*margin: 1.5rem;*/
}

@media screen and (max-width: 990px) {
    .story_modal_body h5{

        font-size: 20px;

    }

    #story_modal .modal-dialog {
        width: 80% !important;
        max-width: none !important;
    }
}
@media screen and (max-width: 767px) {
    .story_modal_card .sm_img{
        width: 40%;
        border-radius: 0;
    }
    .story_modal_body .s_title{
        /*margin-top: 0 !important;*/
        text-align: center;

    }
    .story_modal_body{
        padding-top: 0!important;

    }
    .story_modal_card .sm_img_div{
        padding-bottom: 1rem !important;
        /*margin-bottom: 0;*/
    }
    .story_modal_body .s_detail{
        font-size: 12px !important;
        line-height: 15px;
        margin-bottom: 4rem;

    }

    .sm_img_div button{
        display: block !important;
    }
    .story_modal_body{
        position: relative;
    }

}
@media screen and (max-width: 580px) {
    #story_modal .modal-dialog {
        width: 95% !important;
        /*margin-left: 10px;*/
        max-width: none !important;

    }

}



