.filter_bar{
    background: #023A53;
    padding: 10px 20px;
    border-radius: 30px;


}
.listing_div{
    padding-top: 100px;
}

.show_dropdown{
    background: #071217;
    /*float: right !important;*/
    /*right: 0 !important;*/
    /*left:20px !important;*/
    /*text-align: right !important;*/

    /*width: 100%;*/
}
.show_dropdown a{
    color:white;
}
.d-active{
    color: #16181b !important;
    text-decoration: none;
    background-color: #f8f9fa;
}

@media screen and (max-width: 994px) {
    .db-lg {
        display: none;

    }
    .db-mb{
        display: inline;

    }

    .filter_bar{
        justify-content: center;
    }

}

.story_div{
    border-radius: 31px !important;
    background: #071217;
    color: white;
}

.story_div .banner{
    border-radius: 31px !important;
}
.story_wrapper{
    position: relative;
}
.story_tag{
    position: absolute;
    z-index: 1;
    background: linear-gradient(90deg, #A595D5 0%, #47C7EF 90.48%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    border-radius: 16px;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    top: -5px;
    right: 50px;
}

.story_div .character_p{
    border-radius: 180px !important;
    width: 40%;
     margin: auto;
    left: 0;
    right: 0;
}
.story_div .slogan{
    font-style: italic;
    font-weight: 400;
    font-size: 9px;
    line-height: 10px;
    /*margin-top: 0;*/
}
.story_div .detail{
    font-weight: 400;
    font-size: 10px;
    line-height: 11px;

    color: rgba(255, 250, 250, 0.62);
}

.character_wrapper{
    position: relative;
}
.character_bottom{
    position: absolute;
    z-index: 1;
    background: #0E191E;
    border-radius: 0px 0px 31px 31px;
    bottom: 12px;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    color: #FFF7F7;

}
.character_bottom span{
    font-style: italic;

    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    color: #FFFFFF;
}
.universe_div{
    border-radius: 0;
    background: #071217;
    color: white;
    border: transparent;
    outline: transparent;
    /*padding-left: 0px;*/
}

.u_image{
    height: 100%;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0%, 78% 100%, 0% 100%);
}
.u-title{
    font-weight: 400;
    font-size: 40px;
    line-height: 63px;

    color: #FFFFFF;
}
.u-detail{
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .u_image{
        clip-path: none;
        /*width: 100%;*/
    }

}