.title_line {
    background: linear-gradient(89.96deg, #57BEEA 0.03%, #9E98D7 94.37%);
    height: 5px;
}

.edit_form label {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 26px;


}

.edit_u_inp {
    background: rgba(125, 170, 224, 0.31);
    border-radius: 30px;
    border-color: transparent;

}
input, textarea, select{
    color: #d7f6ed !important;
}
.edit_u_inp:focus {
    background: rgba(125, 170, 224, 0.31);
    border-color: transparent;
    color: #FFFFFF;

}

.edit_u_inp:not(:placeholder-shown) {
    background: rgba(125, 170, 224, 0.31);
    border-color: transparent;
    color: #FFFFFF;
}

.edit_form textarea{
    border-radius: 10px !important;
}

.edit_form textarea::-webkit-resizer {
    display: none;
}

.edit_form .cover_banner{
    width: 100% !important;
    height: auto;

    object-fit: cover;

}
.cover_div{
    position: relative;
}
.change_cover{
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.lang_select option {

    background: #2C4B64; !important;
    border-color: transparent;
    cursor: pointer;
    padding: 5rem !important;
}

.lang_select {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}


.team_edit{
    background: #071217;
    border-radius: 30px;
    position: relative;
}

.team_edit .e-im{
    border-radius: 100%;
    width: 65px;

}

.team_member{
    background: #0A171D;
    -ms-flex: 0 0 18.666667%;
    flex: 0 0 18.666667%;
    max-width: 18.666667%;
    position: relative;
}
.team_member .edit_member_lg{
    position: absolute;
    right: -10px;
    top: -10px;
    padding: 0.5rem !important;
    background: #9F98D6;
}

.add_member_lg{

    position: absolute;

    right: 9px;
    padding: 0.5rem !important;
}

#edit_member .modal-content{
    background: #27475F;
    border-radius: 26px;

}

#edit_member .modal_chr_img{
    width: 38px;
}

#edit_member .k_im{
    width: 20px;
}

#edit_member .story_button{
    padding: 0.5rem !important;
}

#edit_member select{
    background: rgba(125, 170, 224, 0.31);
    border-color: transparent;
    padding: 0.3rem;
    padding-left: 0.9rem !important;
    padding-right: 0.9rem !important;
    cursor: pointer;

}

#edit_member option{
    background: #2C4B64; !important;
    padding-left: 0.9rem !important;
    padding-right: 0.9rem !important;
}


#edit_member select {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

#edit_member .modal-body{
    background: #0E171C;
    border-radius: 37px;
}

#add_member .modal-content{
    background: #27475F;
    border-radius: 26px;

}

#add_member .modal-body{
    background: #071217;
    border-radius: 37px;
    transition: 0.2s;
}



#add_member input {
    background: #071217;
    border-radius: 76px;
    border-color: transparent;
    font-family: Ubuntu, FontAwesome;
    text-align: center;
}

#add_member input:focus {
    background: #071217;
    border-color: transparent;
    color: #FFFFFF;
    outline: none;

}
#add_member input:hover{
    outline: none;

}
#add_member input:not(:placeholder-shown) {
    background: #071217;
    border-color: transparent;
    color: #FFFFFF;
    outline: none;

}

.add_u_div{
    background: #0E171C;
    border-radius: 37px;
}

.add_u_div img{
    width: 40px;
}

.add_u_div select {
    background: #305F7B;
    border-radius: 76px;
    border-color: transparent;
    font-family: Ubuntu, FontAwesome;
    text-align: center;
    cursor: pointer;
}

.add_u_div  select:focus {
    background: #305F7B;
    border-color: transparent;
    color: #FFFFFF;
    outline: none;

}
.add_u_div select:hover{
    outline: none;

}
.add_u_div select:not(:placeholder-shown) {
    background: #305F7B;
    border-color: transparent;
    color: #FFFFFF;
    outline: none;

}

#add_member .modal-lg{
    max-width: 600px;
}

.form_save button{
    width: 11rem !important;
}

.form_c {
    background: transparent !important;
    border: 2px solid black;
    border-color: #73AFE2 !important;


}
.form_c:hover{
    background: #73AFE2 !important;

}

.cancel_color{
    background: #E95872 !important;
}

.edit_color{
    background: #9F98D6;
}

.ok_color{
    background: #44D744;
}

#edit_buttons{
    display: none;
}
.edit_member_mb{
    position: absolute;
    right: 5%;
    margin-top: 0.4rem;
    display: none;

}
@media screen and (max-width: 1603px) {
    .team_edit .e-im{
        width: 50px;

    }

}@media screen and (max-width: 880px) {
    .team_edit .e-im{
        width: 35px;

    }
    .edit_member_lg .fa-edit {
        font-size: 15px;
    }

}@media screen and (max-width: 808px) {
    .team_member{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;

        display: flex;
    }

    .edit_member_lg{
        display: none;
    }

    .team_edit .e-im{
        width: 45px;
        margin-bottom: 0 !important;

    }
    .team_member .tm-name{
        /*margin-top: 0.7rem;*/
        margin-left: 10%;

    }
    #team{
        padding-left: 1rem !important;
        padding-right: 1.8rem !important;
    }
    .edit_member_mb{
        display: block;
    }
    #edit_member select{
        padding: 0.3rem!important;
        font-size: 13px;
    }
    #edit_member .k_im{
        /*width: 16px;*/
    }
    #edit_member span{
        font-size: 13px;
    }
    .add_member_lg{
        right: -7px;
        top: -13px;
    }

}
.inv_sm{
    display: none;
}
.add_u_div img{
    border-radius: 100%;
}
@media screen and (max-width: 575px) {
    .inv_lg{
        display: none;
    }
    .inv_sm{
        display: inline;
        padding: 0.3rem 0.5rem !important;

        font-size: 10px;
    }
    .add_u_div img{
        width: 30px;
    }
    .add_u_div span{
        font-size: 13px;
    }
    .add_u_div select{
        font-size: 13px;
        padding: 0.2rem !important;

    }
    .add_u_div .float-right{
        margin-top: 0 !important;
    }
    #add_member .modal-body{
        background: transparent;
        padding: 0px !important;
    }


}