.left_info{
    background: #07212D;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.left_info img{
    width: 100%;
}

.radius_circle{
    border-radius: 500px;
}
.info_team img{
    width: 40px;
}

@media screen and (max-width: 1600px) {

    .page_content .row{
        margin-left: 0 !important;
    }
    .left_info{
        margin-left: 1rem !important;
    }
}


.u_nav a{
    background: #092938;
    padding: 0.5rem 2rem;
    border-left: 1px solid #F9F9F9;

}
.u_mob_nav {
    display: none;

}
.u_nav .active{
    background: #305F7B;
}
.u_nav_first{
    border-radius: 47px 0px 0px 47px;
    border-left: none !important;

}

.u_nav_last{
    border-radius: 0px 47px 47px 0px;
}

.right_inside{
    background: #07212D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.filter_button {
    background: #22485F;
    color: white;
    border-color: transparent;
    font-size: 16px;
    line-height: 15px;
    padding: 10px 20px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    transition: 0.2s;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.filter_button:focus {
    outline: transparent !important;
}
.filter_button.last:hover{
    background: #132936;
}

.filter_button.last{
    width: 10rem !important;
    border-left: 1px solid #F9F9F9;
    border-radius: 0 30px 30px 0;
}





.filter_button.first{
    border-radius: 30px 0 0 30px;
    cursor: default;
}

.filter_dropdown{
    background: #22485F !important;
    border-color: transparent;

    /*padding: 10px 20px !important;*/
}
.filter_dropdown li button {

    color: white;


}
@media screen and (max-width: 1020px) {

    .filter_button.last{
        width: 8rem !important;

    }

}


.input_nav::placeholder {
    text-align: center;
}
.story_list_div{
    background: #071217;
    padding-left: 0px;
    position: relative;
}

.story_list_div img{
    width: 100%;
    clip-path: polygon(0 0, 100% 0%, 86% 100%, 0% 100%);

}

.story_reactions{
    position: absolute;
    bottom: 30px ;
}

.story_date_info{
    position: absolute;
    bottom: 30px ;
    /*right: 26%;*/
 }

.story_button {
    background: #73AFE2;
    color: white;
    border-color: transparent;
    font-size: 16px;
    line-height: 15px;
    padding: 10px 20px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    transition: 0.2s;
}

.story_button:focus {
    outline: transparent !important;
}
.story_button:hover{
    background: #5783ab;
    text-decoration: none;
    color: inherit;

}

.story_button.last{
    border-left: 4px solid #071217 ;
    border-radius: 0 30px 30px 0;

}
.mob_title{
    display: none;
}
.story_button.first{
    width: 13rem !important;

    border-radius: 30px 0 0 30px;
}

.u_mob_sm_nav{
    display: none;
}

@media screen and (max-width: 1645px) {

    .story_reactions{
        bottom: 15px ;
    }

    .story_date_info{
        bottom: 10px ;
    }

}
@media screen and (max-width: 1460px) {

    .left_bar{
        display: none;
    }
    .right_bar{
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .right_bar .justify-content-center{
        -ms-flex-pack: justify !important;
        justify-content: space-between !important;
    }
    .u_nav{
        display: none;
    }
    .u_mob_nav{
        display: flex;
    }
    .mob_title{
        display: block;
    }

}

@media screen and (max-width: 1200px) {

    .story_list_div img{
        width: 107%;
        height: 200px;
        padding: 2rem;
        clip-path: none;
        object-fit: cover;
        border-radius: 3rem !important;

    }
    .story_list_div{
        border-radius: 2rem;

    }
    .story_reactions{
        position: static;

    }
    .story_date_info{
        position: static;
        margin-top: 1rem;
    }

}

@media screen and (max-width: 1040px) {

    .story_list_div img {
        width: 108%;
        height: 200px;
        padding: 1.5rem;
        clip-path: none;
        object-fit: cover;
        border-radius: 3rem !important;

    }
    .story_list_div h4{
        font-size: 19px;
    }
    .story_list_div .story_reactions{
        font-size: 15px;
    }
}
@media screen and (max-width: 440px) {
    .story_button.first{
        width: 8rem !important;


    }

}@media screen and (max-width: 500px) {
    .right_inside{
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;


    }

}
@media screen and (max-width: 825px) {
    .u_mob_nav{
        display: none;


    }
    .u_mob_sm_nav{
        display: flex;

    }

}
.search_div_st_mb{
    display: none;
}
@media screen and (max-width: 990px) {
    .s_list_input{
        width: 80% !important;
        margin-left: auto;
        margin-right: auto;
    }
    .search_div_st_lg{
        display: none;
    }
    .search_div_st_mb{
        display: flex;
    }
}

.filter_div_mb{
    display: none;
}
@media screen and (max-width: 650px) {
    .filter_div_lg{
        display: none;
    }
    .filter_div_mb{
        display: block;
    }
}

@media screen and (max-width: 574px) {
    .s_list_input{
        width: 90% !important;

    }

}
.stories_list{
    height: 38rem !important;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y:scroll;
}

.char_list_div{
    background: #071217;
    padding:2rem;
    position: relative;
    border-radius: 28px;
}

.char_list_div img{
    width: 90px;
    border-radius: 200px;
    margin-top: 0 !important;
}
.char_settings {
    position: absolute !important;
    right: 30px;

}
.ent_list_div{
    background: #071217;
    padding:1rem;
    position: relative;
    border-radius: 28px;

}

.ent_list_div img{
    width: 100%;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    margin-bottom: 1rem;
}
.ent_settings{
    position: absolute !important;
    right: 0px;
    bottom: 0px
}